* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;

  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
}

.company-name {
  width: 500px;
  line-height: 1.5rem;
  font-size: 1.1rem;
  display: block;
  font-weight: 500;
  margin-left: 2rem;
}
.carousel-one {
  margin-left: 5rem;
}
.welcome.carousel {
  font-size: 1.5rem;
}
.body-carousel {
  line-height: 2.5rem;
  font-size: 1.5rem;
  width: 300px;
}
.about-us {
  margin-left: 2rem;
}
#buhari {
  width: 400px;
  height: auto;
}
.notes {
  text-align: justify;
}
.work-pics {
  margin-left: 6rem;
}
#news-page {
  max-width: 100%;
  text-align: center;
  margin-top: 3rem;
}
#be-the-first {
  padding: 4rem;
  margin-top: 3rem;
  line-height: 3rem;
}
#got-questions {
  padding: 4rem;
}
#last-part {
  padding: 4rem;
  background: #07321b;
  line-height: 3rem;
}
#card-details-2 {
  line-height: 1.85rem;
}
#card-details-3 {
  line-height: 2.7rem;
}
.contact-main {
  background-color: #f9ecdc;
  position: relative;
}
.backg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/IMAGES/backg.jpg");
  min-height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.the-writeup {
  padding: 10rem;
}
.second-section {
  margin-top: 9rem;
}
.about-program {
  background-color: #fffbf6;
}
.main-div {
  padding-top: 9rem;
}
.login-details {
  width: 40%;
  background-color: #dbf9ea;
  word-spacing: 5px;
}
@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  .onyi {
    display: none;
  }
  .the-text {
    margin-left: 0;
  }
  .notes {
    margin-left: 0.1;
  }
  #onyi1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #000),
      url("/IMAGES/WhatsApp Image 2021-11-07 at 05.33.50.jpeg");
    background-size: cover;
    background-position: center;

    justify-content: center;
    color: #fff;
    overflow-x: hidden;
  }

  #onyi2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #000),
      url("/IMAGES/WhatsApp Image 2021-11-07 at 05.33.51.jpeg");
    background-size: cover;
    background-position: center;

    justify-content: center;
    color: #fff;
    overflow-x: hidden;
  }

  #onyi3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #000),
      url("/IMAGES/WhatsApp Image 2021-11-07 at 05.33.51 (1).jpeg");
    background-size: cover;
    background-position: center;

    justify-content: center;
    color: #fff;
    overflow-x: hidden;
  }
}
